<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tbody>
  <tr>
    <td align="left" bgcolor="#e3dfde">
      <table cellpadding="0" cellspacing="0" border="0" width="100%" class="fw ftd">
        <tbody>
        <tr>
          <td align="left" valign="middle">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" height="280">
              <tbody>
              <tr>
                <td align="left" valign="top">
                  <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody>
                    <tr>
                      <td height="20"><br></td>
                    </tr>
                    <tr>
                      <td align="center"><a
                        style="color:#000000; font-size:20px; line-height:24px; font-weight:normal; text-decoration:none;"
                        href="#" target="_blank"><font
                        face="Arial, Helvetica, 'Helvetica Neue', sans-serif"
                        style="color:#000000; font-size:20px; line-height:24px; font-weight:normal; text-decoration:none;">Jetzt
                        entdecken</font></a></td>
                    </tr>
                    <tr>
                      <td height="15"><img src="http://news.de.shop-canda.com/img/trans.gif"
                                           width="1" height="15" style="display:block;"></td>
                    </tr>
                    <tr>
                      <td align="center"><font
                        face="Arial, Helvetica, 'Helvetica Neue', sans-serif"
                        style="font-size:12px; line-height:20px; color:#000000;">Lorem ipsum
                        dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                        dolor. Aenean massa.</font></td>
                    </tr>
                    <tr>
                      <td height="15"><img src="http://news.de.shop-canda.com/img/trans.gif"
                                           width="1" height="15" style="display:block;"></td>
                    </tr>
                    <tr>
                      <td align="center">
                        <table cellspacing="0" cellpadding="0" border="0" width="200" dir="ltr"
                               style="direction:ltr;" bgcolor="#000000" class="fw">
                          <tbody>
                          <tr>
                            <td colspan="3" height="7"><img
                              src="http://news.de.shop-canda.com/img/trans.gif"
                              width="1" height="7" style="display:block;"></td>
                          </tr>
                          <tr>
                            <td width="15"><img
                              src="http://news.de.shop-canda.com/img/trans.gif"
                              width="15" height="1" style="display:block;"></td>
                            <td align="center" valign="middle"><a href="#" target="_blank"
                                                                  style="color:#ffffff; text-decoration:none; font-weight:normal;"><font
                              face="Arial, Helvetica, 'Helvetica Neue', sans-serif"
                              style="color:#ffffff; font-size:12px;">› Zum
                              Strickkleid</font></a></td>
                            <td width="15"><img
                              src="http://news.de.shop-canda.com/img/trans.gif"
                              width="15" height="1" style="display:block;"></td>
                          </tr>
                          <tr>
                            <td colspan="3" height="8"><img
                              src="http://news.de.shop-canda.com/img/trans.gif"
                              width="1" height="8" style="display:block;"></td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="6"><img src="http://news.de.shop-canda.com/img/trans.gif"
                                          width="1" height="6" style="display:block;"></td>
                    </tr>
                    <tr>
                      <td align="center">
                        <table cellspacing="0" cellpadding="0" border="0" bgcolor="#000000"
                               width="200" class="fw">
                          <tbody>
                          <tr>
                            <td colspan="3" height="7"><img
                              src="http://news.de.shop-canda.com/img/trans.gif"
                              width="1" height="7" style="display:block;"></td>
                          </tr>
                          <tr>
                            <td width="15"><img
                              src="http://news.de.shop-canda.com/img/trans.gif"
                              width="15" height="1" style="display:block;"></td>
                            <td align="center" valign="middle"><a href="#" target="_blank"
                                                                  style="color:#ffffff; text-decoration:none; font-weight:normal;"><font
                              face="Arial, Helvetica, 'Helvetica Neue', sans-serif"
                              style="color:#ffffff; font-size:12px;">› Zur
                              Tasche</font></a></td>
                            <td width="15"><img
                              src="http://news.de.shop-canda.com/img/trans.gif"
                              width="15" height="1" style="display:block;"></td>
                          </tr>
                          <tr>
                            <td colspan="3" height="7"><img
                              src="http://news.de.shop-canda.com/img/trans.gif"
                              width="1" height="7" style="display:block;"></td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="10"><img src="http://news.de.shop-canda.com/img/trans.gif"
                                           width="1" height="10" style="display:block;"></td>
                    </tr>
                    <tr>
                      <td align="center">
                        <table cellspacing="0" cellpadding="0" border="0" bgcolor="#aaaaaa"
                               width="200" class="fw">
                          <tbody>
                          <tr>
                            <td colspan="3" height="7"><img
                              src="http://news.de.shop-canda.com/img/trans.gif"
                              width="1" height="7" style="display:block;"></td>
                          </tr>
                          <tr>
                            <td width="15"><img
                              src="http://news.de.shop-canda.com/img/trans.gif"
                              width="15" height="1" style="display:block;"></td>
                            <td align="center" valign="middle"><a href="#" target="_blank"
                                                                  style="color:#ffffff; text-decoration:none; font-weight:normal;"><font
                              face="Arial, Helvetica, 'Helvetica Neue', sans-serif"
                              style="color:#ffffff; font-size:12px;">› Alle
                              Kleider</font></a></td>
                            <td width="15"><img
                              src="http://news.de.shop-canda.com/img/trans.gif"
                              width="15" height="1" style="display:block;"></td>
                          </tr>
                          <tr>
                            <td colspan="3" height="7"><img
                              src="http://news.de.shop-canda.com/img/trans.gif"
                              width="1" height="7" style="display:block;"></td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="20"><br></td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
          <td width="286" rowspan="2" align="right" valign="top" class="is_image_mobile_hidable fw">
            <a href="#" target="_blank"><img
              src="http://www.webadviser.de/jobs/responsive-template/module/modul-17-1.jpg"
              class="altpic image" style="display:block;" border="0"></a>
          </td>
        </tr>
        <tr class="mh">
          <td align="right" valign="bottom">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
              <tr>
                <td align="right" valign="top"><a href="#" target="blank"><img
                  src="http://www.webadviser.de/jobs/responsive-template/module/modul-17-2.jpg"
                  width="145" height="280" style="display:block;" border="0"></a></td>
                <td align="right" valign="top"><a href="#" target="blank"><img
                  src="http://www.webadviser.de/jobs/responsive-template/module/modul-17-2.jpg"
                  width="145" height="280" style="display:block;" border="0"></a></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
